@keyframes ringing {
  20% {
    transform: scale(1.2) rotate(-20deg);
  }
  40% {
    transform: scale(1.2) rotate(20deg);
  }
  60% {
    transform: scale(1.2) rotate(-20deg);
  }
  80% {
    transform: scale(1.2) rotate(-20deg);
  }
  90% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

#container-bell:hover {
  animation: ringing 2s ease-out forwards;
}
