.btn-primary {
  height: 3rem;
  background-color: $primary-color;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  color: #fff;
  font-size: 1rem;
}

.settings-btn button {
  width: 48%;
  height: 3rem;
  color: #fff;
  border-radius: 5px;
  border: solid 2px lightgray;
}

#cancel {
  background-color: darkgray;
}
